{{ block "content" . }}

<style>
    * {
        font-family: "arial";
    }
    header {
        display: flex;
        padding-left: 10px;
        margin-bottom: 10px;
        color: var(--neutral);
        background-color: var(--main);
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    section > div {
        width: 300px;
    }
</style>

<header>
    <h3>Your Todo List</h3>
</header>
<section>
    <div>{{ template "todoForm" }}</div>
    <div>{{ template "todoList" . }}</div>
</section>
{{end}}
