{{ block "todoForm" . }}
<form hx-post="/list">
  <style>
    .form {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      justify-content: center;
    }
    .error {
      color: red;
    }
  </style>
  <div class="form">
    <div>
      <input
        type="text"
        name="value"
        {{if
        .Values.Todo}}
        value="{{ .Values.Todo }}"
        {{end}}
      />
      <button type="submit">Add</button>
    </div>
    {{if .Errors.Todo }}
    <div>
      <span class="error">{{.Errors.Todo}}</span>
    </div>
    {{end}}
  </div>
</form>
{{end}}
